Repository openedx/openedx-events, pull requests merged in 2023-10, with the labels that each got.

#268 Events for exams IDA
  CHANGELOG.rst
  docs/decisions/0013-special-exam-submission-and-review-events.rst
  docs/decisions/index.rst
  openedx_events/__init__.py
  openedx_events/event_bus/avro/tests/schemas/org+openedx+learning+exam+attempt+errored+v1_schema.avsc
  openedx_events/event_bus/avro/tests/schemas/org+openedx+learning+exam+attempt+rejected+v1_schema.avsc
  openedx_events/event_bus/avro/tests/schemas/org+openedx+learning+exam+attempt+reset+v1_schema.avsc
  openedx_events/event_bus/avro/tests/schemas/org+openedx+learning+exam+attempt+submitted+v1_schema.avsc
  openedx_events/event_bus/avro/tests/schemas/org+openedx+learning+exam+attempt+verified+v1_schema.avsc
  openedx_events/event_bus/avro/tests/schemas/org+openedx+learning+user+course+staff+role+added+v1_schema.avsc
  openedx_events/event_bus/avro/tests/schemas/org+openedx+learning+user+course+staff+role+removed+v1_schema.avsc
  openedx_events/learning/data.py
  openedx_events/learning/signals.py
Labels: blocked by other work

#273 feat: create event for discussion events
  CHANGELOG.rst
  openedx_events/learning/data.py
  openedx_events/learning/signals.py
  openedx_events/tooling.py
Labels: waiting on author, open-source-contribution

#275 chore: bump version to 8.9.0
  openedx_events/__init__.py
Labels: open-source-contribution
