Repository openedx/openedx-events, pull requests merged in 2023-01, with the labels that each got.

#143 feat: adds events to handle changes in xblocks
  CHANGELOG.rst
  openedx_events/__init__.py
  openedx_events/content_authoring/data.py
  openedx_events/content_authoring/signals.py
  openedx_events/event_bus/avro/custom_serializers.py
  openedx_events/event_bus/avro/tests/test_avro.py
  openedx_events/event_bus/avro/tests/test_deserializer.py
  openedx_events/event_bus/avro/tests/test_serializer.py
Labels: open-source-contribution

#170 refactor: use collections.abc import to use with python 3.8 and 3.10
  openedx_events/utils.py
Labels: open-source-contribution

#174 docs: bump version for patch release
  CHANGELOG.rst
  openedx_events/__init__.py
  setup.cfg
Labels: core committer, open-source-contribution

#168 feat: updated event signal metadata time
  CHANGELOG.rst
  openedx_events/data.py
  openedx_events/event_bus/tests/test_loader.py
  openedx_events/tests/test_tooling.py
  openedx_events/tooling.py
Labels: event-bus

#172 fix: make minorversion actually optional
  CHANGELOG.rst
  openedx_events/data.py
  openedx_events/event_bus/tests/test_loader.py
Labels: event-bus

#175 feat: add send_event_with_custom_metadata
  CHANGELOG.rst
  openedx_events/__init__.py
  openedx_events/data.py
  openedx_events/tests/test_tooling.py
  openedx_events/tooling.py
Labels: event-bus

#158 [FC-0004][RG]/edxoldmng 218/Signals to save/delete certificate configuration for a course.
  openedx_events/content_authoring/data.py
  openedx_events/content_authoring/signals.py
  openedx_events/event_bus/avro/tests/test_avro.py
Labels: open-source-contribution
